
TestEnvironment/Assembly-CSharp.csproj


TestEnvironment/Library/Artifacts/*


TestEnvironment/Library/CurrentLayout-default.dwlt
TestEnvironment/Library/EditorSnapSettings.asset
TestEnvironment/Library/LastSceneManagerSetup.txt


TestEnvironment/Library/PackageCache/*

TestEnvironment/Library/ScriptAssemblies/Assembly-CSharp.dll
TestEnvironment/Library/ShaderCache/EditorEncounteredVariants
TestEnvironment/Library/shadercompiler-UnityShaderCompiler.exe0.log
TestEnvironment/Library/SourceAssetDB
TestEnvironment/ProjectSettings/QualitySettings.asset
TestEnvironment/TestEnvironment.sln
